<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>助教</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="assistant.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#homework").hide();
            $("#problem").hide();
            $("#content").hide();
            $('a').on('click', function () {
                var href = $(this).attr("href");
                $(this).closest("ul").find("li").removeClass("active");
                $(this).closest("li").addClass("active");
                var navtitle = ["#home", "#homework", "#problem", "#content"];
                if ($.inArray(href, navtitle) != -1) {
                    for (var i = 0; i < navtitle.length; i++) {
                        $(navtitle[i]).hide();
                    }
                    $(href).show();
                }
            });
        });
    </script>
</head>
<body>

<div class="container">
    <div class="header">
        <img class="header-left" src="Image/ustc.gif">
        <span class="header-right">你好，<a>{{ username }}</a>欢迎回来&nbsp;&nbsp;&nbsp;<a href="/logout">退出系统</a></span>
    </div>
</div>

<div class=" container ">
    <ul class="nav nav-pills nav-stacked left-nav">
        <li role="presentation" class="active"><a href="#home">个人主页</a></li>
        <li role="presentation"><a href="#homework">学生作业</a></li>
        <li role="presentation"><a href="#problem">学生问题</a></li>
        <li role="presentation"><a href="#content">问题内容</a></li>

    </ul>


    <div class="right-content">
        <div id="home">
            <!--<label class="label label-default col-md-12 "><h5>个人主页</h5></label>-->
            <label><h5>个人主页</h5></label>
            <br><br>
            <table class="table table-bordered">
                <tr>
                    <td>工号：</td>
                    <td><input class="form-control input-sm" readonly type="text" placeholder="{{ astId }}"></td>
                    <td>姓名：</td>
                    <td><input class="form-control input-sm" readonly type="text" placeholder=" {{ name }}"></td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td><input class="form-control input-sm" type="text" placeholder="{{ email }}"></td>

                    <td>手机号：</td>
                    <td><input class="form-control input-sm" type="text" placeholder="{{ phoneNumber }}"></td>
                </tr>

                <tr>
                    <td>开始时间：</td>
                    <td><input class="form-control input-sm" type="text" placeholder="{{ beginTime }}"></td>
                    <td>结束时间：</td>
                    <td><input class="form-control input-sm" type="text" placeholder="{{ endTime }}"></td>
                </tr>
            </table>
        </div>

        <div id="homework">
            <label><h5>学生作业</h5></label>
            <br>

            <form>
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <table class="table table-bordered ">
                <tr>
                    <td>姓名</td>
                    <td>学号</td>
                    <td>下载</td>
                    <td>评分</td>
                </tr>
                <tr>
                    <td>光棍1</td>
                    <td>s001</td>
                    <td>s001.zip</td>
                    <td class="">
                        <input class="form-control input-sm" type="text">
                        <a class="btn btn-default btn-sm" href="#">确定</a>
                    </td>
                </tr>
                <tr>
                    <td>光棍2</td>
                    <td>s001</td>
                    <td>s002.zip</td>
                    <td class="">
                        <div><input class="form-control input-sm" type="text">
                            <a class="btn btn-default  btn-sm" href="#">确定</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="problem">
            <label><h5>学生问题</h5></label>
            <br>

            <form>
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <table class="table table-bordered ">
                <tr>
                    <td>问题</td>
                    <td>姓名</td>
                    <td>学号</td>
                </tr>
                <tr>
                    <td><a href="#">为什么我还没有女朋友</a></td>
                    <td>光棍1</td>
                    <td>s002</td>

                </tr>
                <tr>
                    <td><a href="#">为什么我还没有男朋友</a></td>
                    <td>光棍2</td>
                    <td>s001</td>
                </tr>
            </table>
        </div>

        <div id="content">
            <label><h5>问题内容</h5></label>
            <br>
            <form>
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <div class="">
                <span class="title-position"><h5>问题概述:</h5></span>
                <input type="text" class="form-control" placeholder="{{ title }}">
                <br><br>
                <span class=""><h5>问题详情:</h5></span>
                <textarea class="form-control" rows="5" readonly placeholder="{{ content }}"></textarea>
            </div>
            <div style="margin-top: 10px;">
                <h5 class="">回答者A：</h5>
                <span>{{ opinionA }}</span>
                <h5>回答者B：</h5>
                <span>{{ opinionB }}</span>
            </div>
            <div>
                <span class=""><h5>回答问题:</h5></span>
                <textarea class="form-control" rows="5" placeholder="{{ content }}"></textarea>
                <a class="btn btn-default" style="margin-top: 6px" href="#">回答问题</a>
            </div>
        </div>


        <div class="footer">
            &copy;2015 kylin group. 版权所有 Email Address: kylin@china.com
        </div>
    </div>
</div>
</body>
</html>