body {
    margin-top: 10px;
    font-family: "Microsoft YaHei";
    min-width: 800px;
}

.main{
    margin-top: 70px;
}
#home{
    margin-top: 100px;
}
.form-control{
    width: 300px;
    display:inline-block;
}
label{
    font-weight: normal;
    width: 100px;
    text-align: right;
}
.footer {
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    color:gray;
}