{% extends 'assistant/ast-main.html' %}

{% block styleCSS %}
    <style>
        td {
            padding: 0;
        }
    </style>
    <script>
        $(document).ready(function () {
{#            $("div[class^='teacher']").hide();#}
{#            $("div[class^='question']").hide();#}
        })
        function show_problem() {
            var obj = document.getElementById("course-select");
            var index = obj.selectedIndex;
{#            $("div[class^='teacher']").hide();#}

            if (index != 0) {//没有选择课程
{#                $(".teacher" + index).show();#}
                $("div[class^='question']").hide();
                $(".question" + index).show();
            }
        }
    </script>
{% endblock %}
{% block content %}
    <fieldset onload="course-select.onchange()">
        <legend>问题答疑</legend>
        <select id="course-select" class="form-control" onchange="show_problem()">
            <option>--&nbsp;请选择课程&nbsp;--</option>
            {% for tc in tc_list %}
                <option>{{ tc.0.name }}&nbsp;-&nbsp;{{ tc.0.courseId }}</option>
            {% endfor %}
        </select>
        <br>

{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">#}
{#                <h3 class="panel-title">授课教师</h3>#}
{#            </div>#}
{#            <div class="panel-body">#}
{#                {% for tc in tc_list %}#}
{#                    <div class="teacher{{ forloop.counter }}">#}
{#                        {% for t in tc.1 %}#}
{#                            {% if  forloop.counter != 1 %},#}
{#                            {% endif %}#}
{#                            {{ t.teaId }}&nbsp;-&nbsp;{{ t.name }}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">学生问题</h3>
            </div>
            <div class="panel-body" style="height: 366px;overflow:auto;">
                {% for qs in q_list %}
                    {% for q in qs %}
                        <div class="question{{ forloop.parentloop.counter }}">
                            <a href="{% url 'ast_question_detail' q.id %} "><h4>{{ q.title }}</h4></a>
                            <h6>
                                {{ q.stuId.name }}, {{ q.stuId.stuId }}
                                {% if q.time %},{{ q.time }}{% endif %}
                            </h6>
                            <hr>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </fieldset>
{% endblock %}