{% extends 'teacher/tea-main.html' %}

{% block styleCSS %}
    <style>
        body {
            font-family: "Microsoft YaHei";
        }

        label {
            width: 100px;
            font-weight: normal;
            text-align: right;
        }

        .form {
            margin-top: 60px;
        }

        .form-control {
            width: 300px;
            display: inline-block;
            margin: 5px 5px 5px 20px;
        }

        button {
            width: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <fieldset>
        <legend>修改密码</legend>
        <form class="form" role="form" style="padding-left:19% ">
            <div class="form-group">
                <label>旧密码：</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>新密码：</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>确认密码：</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label></label>
                <button type="submit" style="margin-left: 20px" class="btn btn-success" id="submit">修改</button>
            </div>
        </form>
    </fieldset>
{% endblock %}