{% extends 'teacher/tea-main.html' %}

{% block styleCSS %}
    <style>
        body {
            font-family: "Microsoft YaHei";
        }

        label {
            width: 100px;
            font-weight: normal;
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <fieldset>
        <legend>考试安排</legend>
        <table class="table table-bordered table-hover">
            <tr>
                <td></td>
                <td>课程</td>
                <td>考试时间</td>
            </tr>
            {% for c in c_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ c.courseId.name }}</td>
                    <td>{{ c.courseId.examTime }}</td>
                </tr>
            {% endfor %}
        </table>
    </fieldset>
{% endblock %}
