{% extends 'student/stu-main.html' %}

{% block styleCSS %}
    <style>
        label {
            width: 100px;
            font-weight: normal;
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <fieldset>
        <legend>考试安排</legend>
        <table class="table table-bordered" >
            <tr>
                <td></td>
                <td>课程</td>
{#                <td>老师</td>#}
                <td>考试时间</td>
{#                <td>考试成绩</td>#}
            </tr>
            {% for t in exam_time %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ t.name }}</td>
                <td>{{ t.examTime }}</td>
{#                <td>2015-06-10</td>#}
{#                <td></td>#}
            </tr>
            {% endfor %}
        </table>
    </fieldset>
</div>
{% endblock %}