{% extends 'student/stu-main.html' %}

{% block styleCSS %}
    <style>
        label {
            font-weight: normal;
        }
        a {
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".tr-line").click(function () {
                $(this).closest("tr").css("display", "none")
            });
        })
    </script>
{% endblock %}

{% block content %}
    <fieldset>
        <legend>作业提交</legend>
        <table id="homework" class="table table-bordered table-hover">
            <tr>
                <td></td>
                <td>课程</td>
                <td>标题</td>
                <td>教师</td>
                <td>上传</td>
                <td>得分</td>
                <td>操作</td>
            </tr>

            {% for s in st %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ s.0.courseId }}</td>
                    <td><a href="{% url 'homework_submit' forloop.counter %}">{{ s.0.title }}</a></td>
                    <td>{{ s.0.teaId }}</td>
                    <form method="post" role="form" enctype="multipart/form-data">
                        <td>{{ form.file.errors }}
                            {% if s.1.attachment %}
                               <a href="/upload/{{ s.1.attachment }}"> {{ s.1.attachment }}</a>
                            {% else %}
                                {{ form.file }}
                            {% endif %}
                            <input type="hidden" name="tea-homework-id" value="{{ s.0.id }}"></td>
                        <td>
                            <button type="submit" class="btn btn-default btn-sm">提交</button>
                        </td>
                    </form>
                    <td>{{ s.1.score }}</td>
                </tr>
                {% ifequal forloop.counter line_id %}
                    <tr>
                        <td colspan="6">
                            <p>作业详情：</p>
                            <p>{{ s.0.content }}</p>
                        </td>
                        <td><a class="tr-line">隐藏</a></td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        </table>
    </fieldset>
{% endblock %}