{% extends 'student/stu-main.html' %}

{% block styleCSS %}
    <style>
        label {
            width: 100px;
            font-weight: normal;
            text-align: right;
        }
    </style>
{% endblock %}

{% block content %}
    <fieldset>
        <legend>课程作业</legend>
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td>课程</td>
                <td>标题</td>
                <td>老师</td>
                <td>资料</td>
            </tr>
            {% for th in homework_list %}
             <tr>
                <td>{{ forloop.counter}}</td>
                <td>{{ th.courseId }}</td>
                <td>{{ th.title }}</td>
                <td>{{ th.teaId }}</td>
                <td>{{ th.attachment }}</td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
</div>
{% endblock %}