{% extends 'student/stu-main.html' %}

{% block content %}
    <fieldset>
        <button class="state btn btn-default" type="button" style="margin-bottom: 20px" >提出问题</button>
        <div class="question-state">
            <form novalidate="novalidate" method="post" class="form" role="form">
                <div class="form-group">
                    <label>课程选择{{ user.name }}</label>
                    <select class="form-control" name="course_name" >
                        {% for cs in courses_name %}
                            <option>{{ cs }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>问题简述{{ user.name }}</label>
                    <input type="text" class="form-control" name="question_name">
                </div>
                <div class="form-group">
                    <label>问题详情</label>
                    <textarea rows="6" class="form-control" name="question_information"></textarea>
                </div>
                <div class="form-group">
                    <label></label>
                    <button type="submit" class="btn btn-success" id="submit">提交</button>
                </div>
            </form>
        </div>
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td>课程</td>
                <td>问题</td>
            </tr>
            {% for q in question %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ q.courseId.name }}</td>
                    <td>{{ q.content }}</td>
                </tr>
            {% endfor %}

        </table>
        <legend>提出问题</legend>

    </fieldset>
{% endblock %}
