{% extends 'student/stu-main.html' %}
{% block styleCSS %}
    <style>
        td{
            height: 60px;
        }
    </style>
{% endblock %}

{% block content %}
    <fieldset>
        <legend>我的课表</legend>
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
                <td>星期六</td>
                <td>星期日</td>
            </tr>
            <tr>
                <td>上午(1,2)</td>
                {{ forloop.counter }}
                    {% for item in am1 %}
                        <td>{% if item %}{{ item }}{% endif %}</td>
                    {% endfor %}
            </tr>
            <tr>
                <td>上午(3,4)</td>
                {{ forloop.counter }}
                    {% for item in am2 %}
                        <td>{% if item %}{{ item }}{% endif %}</td>
                    {% endfor %}

            </tr>
            <tr>
                <td>下午(5,6)</td>
                {{ forloop.counter }}
                    {% for item in pm1 %}
                        <td>{% if item %}{{ item }}{% endif %}</td>
                    {% endfor %}

            </tr>
            <tr>
                <td>下午(7,8)</td>
                {{ forloop.counter }}
                    {% for item in pm2 %}
                        <td>{% if item %}{{ item }}{% endif %}</td>
                    {% endfor %}

            </tr>
            <tr>
                <td>晚上(9,10,11)</td>
                {{ forloop.counter }}
                    {% for item in night %}
                        <td>{% if item %}{{ item }}{% endif %}</td>
                    {% endfor %}

            </tr>
        </table>
    </fieldset>
{% endblock %}