{% extends 'student/stu-main.html' %}

{% block content %}
    <fieldset>
        <legend>网上选课</legend>
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td>课程编号</td>
                <td>课程</td>
                <td>授课教师</td>
                <td>上课时间</td>
                <td>已选人数</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>1</td>
                <td>C1</td>
                <td>C++</td>
                <td>教师A</td>
                <td>2015-09-10</td>
                <td>8/100</td>
                <td>
                    <button type="submit" class="btn btn-default btn-sm">选课</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>C2</td>
                <td>Web</td>
                <td>教师B</td>
                <td>2015-09-16</td>
                <td>100/100</td>
                <td>
                    <button type="submit" class="btn btn-default btn-sm">选课</button>
                </td>
            </tr>
        </table>
    </fieldset>
{% endblock %}